body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 60px;
}

h2 {
  color: white;
  margin: 0px;
}

div {
  background-color: #111;
  border-radius: 4px;
  margin: 20px 80px;
  padding: 30px;
}

p {
  color: #b2b2b2;
}

.numeral {
  color: #febe01;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #332200;
  background-color: #febe01;
  border-radius: 4px;
}
