html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-family: "fira sans", Arial, Helvetica, sans-serif;
  height: 1200px;
}

h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: black;
}

ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  max-width: 1440px;
  margin: 2rem auto;
}

.navegacao {
  display: flex;
  gap: 1rem;
}

.navegacao a {
  padding: 1rem 2rem;
  display: block;
}

.navegacao a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  margin: 10rem auto;
  max-width: 1440px;
}
.conteudo-main {
  align-self: center;
  position: relative;
}
.conteudo-main::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -20px;
  background-image: url(/img/detalhe.svg);
  height: 128px;
  width: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.conteudo-main h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.conteudo-main p {
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  max-width: 1440px;
  margin: 2rem auto;
  margin-bottom: 10rem;
}

.grande {
  font-size: 9rem;
  max-width: 4ch;
  word-break: break-all;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: start;
}

.texto-experienciaitem {
  font-size: 1.5rem;
  max-width: 40ch;
}

.experiencia-item {
  display: grid;
  gap: 4rem;
}

.curriculo {
  background-color: #f5f5f5;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  position: relative;
}

.curriculo p {
  max-width: 40ch;
}

.curriculo ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
}

.curriculo h3 {
  font-size: 1.2rem;
}

.curriculo ul li {
  padding: 0.5em 0.75rem;
  background-color: white;
  border-radius: 4px;
}

.curriculo::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 24px;
  left: -4px;
}

.ano {
  position: absolute;
  top: 24px;
  left: -100px;
  text-align: right;
  width: 80px;
}

.dark {
  background-color: #141414;
  padding-top: 6rem;
  color: white;
}

.darkg {
  color: black;
}
.texto-experienciaitem {
  margin-top: 2rem;
}

.escola {
  display: flex;
  gap: 2rem;
}

.escola-x {
  background-color: black;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.escola-x span {
  font-size: 0.875rem;
  color: #a3a3a3;
  margin-bottom: 1rem;
  text-align: left;
}

.escola-x h3 {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.escola-x h3::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -28px;
}

.escola-x p {
  font-size: 1.125rem;
}

